.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  align-content: center;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #282828;

  gap: 10px;
}

/* == HEADER == */
.header-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid;
  border-color: blue; */
  margin: 0.01%;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: x-large;
  font-style: normal;
  margin: 2px;
}
.descript {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-size: small;
  font-weight: 400;
  font-style: normal;
}
#credit {
  font-size: x-small;
}
/* == MAIN == */
.main-container {
  display: flex;
  flex-grow: 2;
  /* border: 1px solid;
  border-color: red; */

  position: relative;
}
.filters {
  position: absolute;
}
.product {
  stroke: #282828;
  stroke-width: 2;
}
.product:hover {
  fill-opacity: 0.8;
}
.tooltip {
  position: absolute;
  text-align: center;
  padding: 4px;
  font: 12px sans-serif;

  border: 0.2px solid black;
  top: 50px;
  border-radius: 4px;
  pointer-events: none;

  font-family: "Source Sans 3", sans-serif;
  font-size: small;
  font-weight: 500;
}
#dropdown {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none;

  font-family: "Source Sans 3", sans-serif;
  outline: #b0c0d1;
}

button {
  margin-left: 5px;
  font-family: "Source Sans 3", sans-serif;
}

/* == SECONDARY == */
.secondary-container {
  display: flex;
  /* border: 1px solid;
  border-color: green; */
}
.secondary-left {
  float: left;
}
.secondary-right {
  float: right;
}
/* .graticule {
    stroke: gray;
    opacity: 0.5;
} */
.boundary {
  fill: none;
  stroke: white;
  /* stroke: #91857a; */
  stroke-width: 0.5px;
}
.sphere-outline {
  fill: none;
  stroke: #d1c1b0;
}
tspan {
  color: #b0c0d1;
}

/* == GENERAL ==*/
* {
  box-sizing: border-box;
}
